html, body {
  position: relative;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: Helvetica;
}

div {
  position: absolute;
  /* transform: translateX(-50%); */
  font-family: STFangsong;
}

button {
  position: absolute;
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
}

table {
  position: absolute;
  /* transform: translate(-50%, -50%); */
  border-spacing: 0;
  font-size: 0;
}

tr div {
  position: absolute;
  display: inline-block;
}

td {
  text-align: center;
  vertical-align: center;
}

td.static {
  position: relative;
  background-color: rgb(192, 178, 165);
  border: 0.5rem solid rgb(173, 157, 142);
  z-index: -1;
}

td.empty {
  position: relative;
  background-color: rgb(192, 178, 165);
  border: 0.5rem solid rgb(173, 157, 142);
  z-index: 0;
}

td.num2 {
  background-color: rgb(223, 221, 209);
}

td.num4 {
  background-color: rgb(234, 215, 190);
}

td.num8 {
  background-color: rgb(237, 162, 102);
}

td.num16 {
  background-color: rgb(229, 120, 68);
}

td.num32 {
  background-color: rgb(240, 101, 78);
}

td.num64 {
  background-color: rgb(225, 66, 45);
}

td.num128 {
  background-color: rgb(238, 210, 87);
}

td.num256 {
  background-color: rgb(236, 200, 59);
}

td.num512 {
  background-color: rgb(221, 181, 33);
}

td.num1024 {
  background-color: rgb(219, 173, 18);
}

td.num2048 {
  background-color: rgb(221, 178, 10);
}

td.num4096 {
  background-color: rgb(81, 213, 128);
}

td.add2 {
  animation: 0.5s bigger2 forwards;
}

td.add4-begin {
  animation: 0.5s bigger4-begin forwards;
}

td.add4 {
  animation: 0.5s bigger4 forwards;
}

td.add8 {
  animation: 0.5s bigger8 forwards;
}

td.add16 {
  animation: 0.5s bigger16 forwards;
}

td.add32 {
  animation: 0.5s bigger32 forwards;
}

td.add64 {
  animation: 0.5s bigger64 forwards;
}

td.add128 {
  animation: 0.5s bigger128 forwards;
}

td.add256 {
  animation: 0.5s bigger256 forwards;
}

td.add512 {
  animation: 0.5s bigger512 forwards;
}

td.add1024 {
  animation: 0.5s bigger1024 forwards;
}

td.add2048 {
  animation: 0.5s bigger2048 forwards;
}

td.add4096 {
  animation: 0.5s bigger4096 forwards;
}

@keyframes bigger2 {
  to {
    background-color: rgb(223, 221, 209);
  }
}

@keyframes bigger4-begin {
  to {
    background-color: rgb(234, 215, 190);
  }
}

@keyframes bigger4 {
  0% {
    position: absolute;
    padding: 0.5rem;
    margin: -0.5rem 0 0 -0.5rem;
    background-color: rgb(234, 215, 190);
    z-index: 1;
  }

  90% {
    position: absolute;
    background-color: rgb(234, 215, 190);
    z-index: 1;
  }

  100% {
    position: relative;
    background-color: rgb(234, 215, 190);
    z-index: 1;
  }
}

@keyframes bigger8 {
  from {
    position: absolute;
    padding: 0.5rem;
    margin: -0.5rem 0 0 -0.5rem;
    background-color: rgb(237, 162, 102);
    z-index: 1;
  }

  90% {
    position: absolute;
    background-color: rgb(237, 162, 102);
    z-index: 1;
  }

  to {
    position: relative;
    background-color: rgb(237, 162, 102);
    z-index: 1;
  }
}

@keyframes bigger16 {
  from {
    position: absolute;
    padding: 0.5rem;
    margin: -0.5rem 0 0 -0.5rem;
    background-color: rgb(229, 120, 68);
    z-index: 1;
  }

  90% {
    position: absolute;
    background-color: rgb(229, 120, 68);
    z-index: 1;
  }

  to {
    position: relative;
    background-color: rgb(229, 120, 68);
    z-index: 1;
  }
}

@keyframes bigger32 {
  from {
    position: absolute;
    padding: 0.5rem;
    margin: -0.5rem 0 0 -0.5rem;
    background-color: rgb(240, 101, 78);
    z-index: 1;
  }

  90% {
    position: absolute;
    background-color: rgb(240, 101, 78);
    z-index: 1;
  }

  to {
    position: relative;
    background-color: rgb(240, 101, 78);
    z-index: 1;
  }
}

@keyframes bigger64 {
  from {
    position: absolute;
    padding: 0.5rem;
    margin: -0.5rem 0 0 -0.5rem;
    background-color: rgb(225, 66, 45);
    z-index: 1;
  }

  90% {
    position: absolute;
    background-color: rgb(225, 66, 45);
    z-index: 1;
  }

  to {
    position: relative;
    background-color: rgb(225, 66, 45);
    z-index: 1;
  }
}

@keyframes bigger128 {
  from {
    position: absolute;
    padding: 0.5rem;
    margin: -0.5rem 0 0 -0.5rem;
    background-color: rgb(238, 210, 87);
    z-index: 1;
  }

  90% {
    position: absolute;
    background-color: rgb(238, 210, 87);
    z-index: 1;
  }

  to {
    position: relative;
    background-color: rgb(238, 210, 87);
    z-index: 1;
  }
}

@keyframes bigger256 {
  from {
    position: absolute;
    padding: 0.5rem;
    margin: -0.5rem 0 0 -0.5rem;
    background-color: rgb(236, 200, 59);
    z-index: 1;
  }

  90% {
    position: absolute;
    background-color: rgb(236, 200, 59);
    z-index: 1;
  }

  to {
    position: relative;
    background-color: rgb(236, 200, 59);
    z-index: 1;
  }
}

@keyframes bigger512 {
  from {
    position: absolute;
    padding: 0.5rem;
    margin: -0.5rem 0 0 -0.5rem;
    background-color: rgb(221, 181, 33);
    z-index: 1;
  }

  90% {
    position: absolute;
    background-color: rgb(221, 181, 33);
    z-index: 1;
  }

  to {
    position: relative;
    background-color: rgb(221, 181, 33);
    z-index: 1;
  }
}

@keyframes bigger1024 {
  from {
    position: absolute;
    padding: 0.5rem;
    margin: -0.5rem 0 0 -0.5rem;
    background-color: rgb(219, 173, 18);
    z-index: 1;
  }

  90% {
    position: absolute;
    background-color: rgb(219, 173, 18);
    z-index: 1;
  }

  to {
    position: absolute;
    background-color: rgb(219, 173, 18);
    z-index: 1;
  }
}

@keyframes bigger2048 {
  from {
    position: absolute;
    padding: 0.5rem;
    margin: -0.5rem 0 0 -0.5rem;
    background-color: rgb(221, 178, 10);
    z-index: 1;
  }

  90% {
    position: absolute;
    background-color: rgb(221, 178, 10);
    z-index: 1;
  }

  to {
    position: relative;
    background-color: rgb(221, 178, 10);
    z-index: 1;
  }
}

@keyframes bigger4096 {
  from {
    position: absolute;
    padding: 0.5rem;
    margin: -0.5rem 0 0 -0.5rem;
    background-color: rgb(81, 213, 128);
    z-index: 1;
  }

  90% {
    position: absolute;
    background-color: rgb(81, 213, 128);
    z-index: 1;
  }

  to {
    position: relative;
    background-color: rgb(81, 213, 128);
    z-index: 1;
  }
}

@media (min-width: 900px) {
  button {
    top: 24%;
    left: 35%;
  }

  button:hover {
    background-color: yellow;
    cursor: pointer;
  }

  table {
    top: 35%;
    left: 35%;
  }

  div {
    top: 12%;
    left: 35%;
    font-size: 3rem;
  }

  tr div {
    width: 105px;
    height: 105px;
  }

  td.static {
    width: 87px;
    height: 87px;
    font-size: 2.5rem;
    line-height: 87px;
  }

  td.empty {
    width: 87px;
    height: 87px;
    font-size: 2.5rem;
    line-height: 87px;
  }

  td.moveleft1 {
    animation: 0.3s moveleft1 forwards;
  }

  td.moveleft2 {
    animation: 0.3s moveleft2 forwards;
  }

  td.moveleft3 {
    animation: 0.3s moveleft3 forwards;
  }

  td.moveright1 {
    animation: 0.3s moveright1 forwards;
  }

  td.moveright2 {
    animation: 0.3s moveright2 forwards;
  }

  td.moveright3 {
    animation: 0.3s moveright3 forwards;
  }

  td.moveup1 {
    animation: 0.3s moveup1 forwards;
  }

  td.moveup2 {
    animation: 0.3s moveup2 forwards;
  }

  td.moveup3 {
    animation: 0.3s moveup3 forwards;
  }

  td.movedown1 {
    animation: 0.3s movedown1 forwards;
  }

  td.movedown2 {
    animation: 0.3s movedown2 forwards;
  }

  td.movedown3 {
    animation: 0.3s movedown3 forwards;
  }

  @keyframes moveleft1 {
    from {
      z-index: 1;
    }
    to {
      transform: translateX(-105px);
      z-index: 1;
    }
  }

  @keyframes moveleft2 {
    from {
      z-index: 1;
    }
    to {
      transform: translateX(-210px);
      z-index: 1;
    }
  }

  @keyframes moveleft3 {
    from {
      z-index: 1;
    }
    to {
      transform: translateX(-315px);
      z-index: 1;
    }
  }

  @keyframes moveright1 {
    from {
      z-index: 1;
    }
    to {
      transform: translateX(105px);
      z-index: 1;
    }
  }

  @keyframes moveright2 {
    from {
      z-index: 1;
    }
    to {
      transform: translateX(210px);
      z-index: 1;
    }
  }

  @keyframes moveright3 {
    from {
      z-index: 1;
    }
    to {
      transform: translateX(315px);
      z-index: 1;
    }
  }

  @keyframes moveup1 {
    from {
      z-index: 1;
    }
    to {
      transform: translateY(-105px);
      z-index: 1;
    }
  }

  @keyframes moveup2 {
    from {
      z-index: 1;
    }
    to {
      transform: translateY(-210px);
      z-index: 1;
    }
  }

  @keyframes moveup3 {
    from {
      z-index: 1;
    }
    to {
      transform: translateY(-315px);
      z-index: 1;
    }
  }

  @keyframes movedown1 {
    from {
      z-index: 1;
    }
    to {
      transform: translateY(105px);
      z-index: 1;
    }
  }

  @keyframes movedown2 {
    from {
      z-index: 1;
    }
    to {
      transform: translateY(210px);
      z-index: 1;
    }
  }

  @keyframes movedown3 {
    from {
      z-index: 1;
    }
    to {
      transform: translateY(315px);
      z-index: 1;
    }
  }

  td.move-up-dis-1 {
    animation: 0.3s move-up-dis-1 forwards;
  }

  @keyframes move-up-dis-1 {
    to {
      z-index: -1;
      transform: translateY(-105px);
    }
  }

  td.move-down-dis-1 {
    animation: 0.3s move-down-dis-1 forwards;
  }

  @keyframes move-down-dis-1 {
    to {
      z-index: -1;
      transform: translateY(105px);
    }
  }

  td.move-left-dis-1 {
    animation: 0.3s move-left-dis-1 forwards;
  }

  @keyframes move-left-dis-1 {
    to {
      z-index: -1;
      transform: translateX(-105px);
    }
  }

  td.move-right-dis-1 {
    animation: 0.3s move-right-dis-1 forwards;
  }

  @keyframes move-right-dis-1 {
    to {
      z-index: -1;
      transform: translateX(105px);
    }
  }
}

@media (max-width: 900px) {
  button {
    top: 21%;
    left: 2%;
    text-align: left;
  }
  
  table {
    top: 30%;
    left: 1.6%;
  }

  div {
    top: 12%;
    left: 2%;
    font-size: 2rem;
  }

  tr div {
    width: 100px;
    height: 100px;
  }

  td.empty {
    width: 82px;
    height: 82px;
    font-size: 2rem;
    line-height: 82px;
  }
}
